@charset "UTF-8";

* {
	margin : 5px;
}

section {
	background-color: #64D6FF;
	margin-top : 20px;
	width : 700px;
	height : 180px;
	text-align : center;
	position : relative;
}

div.plate {
	width : 100%;
	height : 100%;
	align-items: center;
	text-align: center;
}

div.lotto {
	display : inline-block;
	background-color : yellow;
	width : 50px;
	height : 50px;
	border-radius:30px;
	text-align: center; 
	align-content : center; 
	margin : 60px 10px;
	font-weight: bold;
	font-size: 20px;
	line-height: 2.5em;
}

footer {
	margin : 10px 0 0 630px;
}

